{
  "openapi": "3.1.0",
  "info": {
    "title": "Krova Cloud API",
    "version": "1.0.0",
    "description": "Programmatic access to Krova Cloud. Authenticate with the X-API-KEY header. Keys are scoped per Space and inherit the permissions of the membership that created them. Mutating POST / DELETE endpoints are rate-limited to 10 requests per 60 seconds per client IP.",
    "contact": {
      "email": "support@krova.cloud"
    }
  },
  "servers": [
    {
      "url": "https://krova.cloud/api/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    },
    "schemas": {
      "Cube": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "booting",
              "running",
              "sleeping",
              "stopping",
              "error",
              "deleted"
            ]
          },
          "publicIpv4": {
            "type": "string",
            "nullable": true
          },
          "resources": {
            "type": "object",
            "properties": {
              "vcpu": {
                "type": "integer"
              },
              "ramGb": {
                "type": "number"
              },
              "diskGb": {
                "type": "integer"
              }
            },
            "required": [
              "vcpu",
              "ramGb",
              "diskGb"
            ]
          },
          "image": {
            "type": "string"
          },
          "costPerHour": {
            "type": "number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "state",
          "publicIpv4",
          "resources",
          "image",
          "costPerHour",
          "createdAt",
          "updatedAt"
        ]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        },
        "required": [
          "page",
          "limit",
          "total",
          "totalPages"
        ]
      },
      "Region": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "slug"
        ]
      },
      "Image": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "version",
          "description"
        ]
      },
      "PricingTier": {
        "type": "object",
        "properties": {
          "minVcpus": {
            "type": "integer"
          },
          "maxVcpus": {
            "type": "integer",
            "nullable": true
          },
          "multiplier": {
            "type": "number"
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "minVcpus",
          "maxVcpus",
          "multiplier",
          "label"
        ]
      },
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "cubeId": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "port": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "ingressStatus": {
            "type": "string",
            "nullable": true
          },
          "securityHeadersMode": {
            "type": "string",
            "enum": [
              "enforced",
              "app_managed"
            ]
          },
          "responseHeaderTimeoutSecs": {
            "type": "integer"
          },
          "responseHeaderOverrides": {
            "type": "object",
            "nullable": true,
            "description": "Header rewrites: `set` adds/overwrites, `remove` deletes. Null clears all.",
            "properties": {
              "set": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "remove": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "requestHeaderOverrides": {
            "type": "object",
            "nullable": true,
            "description": "Header rewrites: `set` adds/overwrites, `remove` deletes. Null clears all.",
            "properties": {
              "set": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "remove": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "maxRequestBodyMb": {
            "type": "integer",
            "nullable": true
          },
          "responseCompression": {
            "type": "boolean"
          },
          "ipAllowList": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "ipDenyList": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "basicAuthUser": {
            "type": "string",
            "nullable": true
          },
          "basicAuthEnabled": {
            "type": "boolean"
          },
          "corsConfig": {
            "type": "object",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "cubeId",
          "domain",
          "port",
          "status",
          "ingressStatus",
          "securityHeadersMode",
          "responseHeaderTimeoutSecs",
          "responseHeaderOverrides",
          "requestHeaderOverrides",
          "maxRequestBodyMb",
          "responseCompression",
          "ipAllowList",
          "ipDenyList",
          "basicAuthUser",
          "basicAuthEnabled",
          "corsConfig",
          "createdAt",
          "updatedAt"
        ]
      },
      "TcpMapping": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "cubeId": {
            "type": "string"
          },
          "cubePort": {
            "type": "integer"
          },
          "hostPort": {
            "type": "integer"
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "isSsh": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "whitelistedIps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "cidr": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "cidr"
              ]
            }
          }
        },
        "required": [
          "id",
          "cubeId",
          "cubePort",
          "hostPort",
          "label",
          "status",
          "isSsh",
          "createdAt",
          "updatedAt",
          "whitelistedIps"
        ]
      },
      "Snapshot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "cubeId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "cubeId",
          "name",
          "sizeBytes",
          "status",
          "kind",
          "createdAt"
        ]
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "A Krova webhook event name (see the webhooks docs for the full list)."
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "url",
          "events",
          "enabled",
          "createdAt",
          "updatedAt"
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "delivered",
              "failed"
            ]
          },
          "attempts": {
            "type": "integer"
          },
          "lastAttemptAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "responseStatus": {
            "type": "integer",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "event",
          "status",
          "attempts",
          "lastAttemptAt",
          "responseStatus",
          "createdAt"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Authenticated but lacks the required permission",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded (10 mutations / 60s)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/regions": {
      "get": {
        "summary": "List regions with available capacity",
        "security": [],
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Region list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "regions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Region"
                      }
                    }
                  },
                  "required": [
                    "regions"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/images": {
      "get": {
        "summary": "List available OS images",
        "security": [],
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Image list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "images": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Image"
                      }
                    }
                  },
                  "required": [
                    "images"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pricing": {
      "get": {
        "summary": "Per-resource hourly rates and volume pricing tiers",
        "security": [],
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Pricing data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string"
                    },
                    "rates": {
                      "type": "object",
                      "properties": {
                        "vcpuPerHour": {
                          "type": "number"
                        },
                        "ramGbPerHour": {
                          "type": "number"
                        },
                        "diskGbPerHour": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "vcpuPerHour",
                        "ramGbPerHour",
                        "diskGbPerHour"
                      ]
                    },
                    "tiers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PricingTier"
                      }
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "currency",
                    "rates",
                    "tiers",
                    "note"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes": {
      "get": {
        "summary": "List Cubes in a Space",
        "tags": [
          "Cubes"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated Cube list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cubes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Cube"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "cubes",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Create a Cube",
        "tags": [
          "Cubes"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional unique key (max 255 chars). Replays return the original response and add header Idempotency-Replayed: true. Scoped per space; expires after 24h.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "image",
                  "resources",
                  "sshPublicKey"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string"
                  },
                  "resources": {
                    "type": "object",
                    "required": [
                      "vcpu",
                      "ramGb",
                      "diskGb"
                    ],
                    "properties": {
                      "vcpu": {
                        "type": "number"
                      },
                      "ramGb": {
                        "type": "number"
                      },
                      "diskGb": {
                        "type": "number"
                      }
                    }
                  },
                  "sshPublicKey": {
                    "type": "string",
                    "description": "SSH public key written to /root/.ssh/authorized_keys at boot. Must start with ssh-ed25519, ssh-rsa, ecdsa-sha2-*, ssh-dss, or sk-*@openssh.com."
                  },
                  "region": {
                    "type": "string",
                    "description": "Region slug from /v1/regions (optional)."
                  },
                  "userData": {
                    "type": "string",
                    "description": "cloud-init script (max 16 KB, optional)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cube created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cube": {
                      "$ref": "#/components/schemas/Cube"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/{cubeId}": {
      "get": {
        "summary": "Get a Cube",
        "tags": [
          "Cubes"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cube",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cube": {
                      "$ref": "#/components/schemas/Cube"
                    }
                  },
                  "required": [
                    "cube"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a Cube (asynchronous)",
        "tags": [
          "Cubes"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/{cubeId}/sleep": {
      "post": {
        "summary": "Sleep a running Cube",
        "tags": [
          "Cubes"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sleep enqueued"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/{cubeId}/wake": {
      "post": {
        "summary": "Wake a sleeping Cube",
        "tags": [
          "Cubes"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wake enqueued"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/{cubeId}/ssh-port": {
      "put": {
        "summary": "Change a Cube's SSH port",
        "description": "Sets the host port the Cube's SSH is reachable on. The change is applied atomically (the old port mapping is replaced).",
        "tags": [
          "Cubes"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cubePort"
                ],
                "properties": {
                  "cubePort": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 65535,
                    "description": "The new SSH port."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSH port updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/{cubeId}/domains": {
      "get": {
        "summary": "List custom domains attached to a Cube",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain list"
          }
        }
      },
      "post": {
        "summary": "Attach a custom domain to a Cube",
        "description": "Attaches a domain and optionally configures any per-domain proxy settings at the same time. Settings can also be changed later via PATCH.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional unique key (max 255 chars). Replays return the original response and add header Idempotency-Replayed: true. Scoped per space; expires after 24h.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain",
                  "port"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "The hostname to attach, e.g. app.example.com"
                  },
                  "port": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 65535,
                    "description": "The Cube port the domain proxies to."
                  },
                  "securityHeadersMode": {
                    "type": "string",
                    "enum": [
                      "enforced",
                      "app_managed"
                    ],
                    "description": "enforced = proxy sets platform security headers (HSTS, X-Frame-Options, …); app_managed = the app's own headers pass through. Default enforced."
                  },
                  "responseHeaderTimeoutSecs": {
                    "type": "integer",
                    "minimum": 10,
                    "maximum": 3600,
                    "description": "Seconds the app may take to send response headers (streaming unaffected). Default 60."
                  },
                  "responseHeaderOverrides": {
                    "type": "object",
                    "nullable": true,
                    "description": "Header rewrites: `set` adds/overwrites, `remove` deletes. Null clears all.",
                    "properties": {
                      "set": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "remove": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "requestHeaderOverrides": {
                    "type": "object",
                    "nullable": true,
                    "description": "Header rewrites: `set` adds/overwrites, `remove` deletes. Null clears all.",
                    "properties": {
                      "set": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "remove": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "maxRequestBodyMb": {
                    "type": "integer",
                    "nullable": true,
                    "minimum": 1,
                    "maximum": 10240,
                    "description": "Max request body size (MB). Null = unlimited (default)."
                  },
                  "responseCompression": {
                    "type": "boolean",
                    "description": "Edge gzip/zstd compression. Default false (domains behind a CDN are already compressed there)."
                  },
                  "ipAllowList": {
                    "type": "array",
                    "nullable": true,
                    "maxItems": 50,
                    "items": {
                      "type": "string"
                    },
                    "description": "Visitor IP/CIDR allow-list (v4+v6). Non-empty ⇒ only these reach the app. Null/empty = open."
                  },
                  "ipDenyList": {
                    "type": "array",
                    "nullable": true,
                    "maxItems": 50,
                    "items": {
                      "type": "string"
                    },
                    "description": "Visitor IP/CIDR deny-list (v4+v6) → 403. Null/empty = none."
                  },
                  "basicAuthUser": {
                    "type": "string",
                    "nullable": true,
                    "description": "HTTP Basic Auth username. Null/empty clears Basic Auth. Setting it requires basicAuthPassword."
                  },
                  "basicAuthPassword": {
                    "type": "string",
                    "writeOnly": true,
                    "description": "Plaintext Basic Auth password — bcrypt-hashed server-side, never stored or returned. Required when setting basicAuthUser."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain attached"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/{cubeId}/domains/{mappingId}": {
      "patch": {
        "summary": "Update a custom domain's proxy settings",
        "description": "Partial update — only the fields you send change; omitted fields are left as-is. The Basic Auth password is write-only and bcrypt-hashed server-side.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mappingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "securityHeadersMode": {
                    "type": "string",
                    "enum": [
                      "enforced",
                      "app_managed"
                    ],
                    "description": "enforced = proxy sets platform security headers (HSTS, X-Frame-Options, …); app_managed = the app's own headers pass through. Default enforced."
                  },
                  "responseHeaderTimeoutSecs": {
                    "type": "integer",
                    "minimum": 10,
                    "maximum": 3600,
                    "description": "Seconds the app may take to send response headers (streaming unaffected). Default 60."
                  },
                  "responseHeaderOverrides": {
                    "type": "object",
                    "nullable": true,
                    "description": "Header rewrites: `set` adds/overwrites, `remove` deletes. Null clears all.",
                    "properties": {
                      "set": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "remove": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "requestHeaderOverrides": {
                    "type": "object",
                    "nullable": true,
                    "description": "Header rewrites: `set` adds/overwrites, `remove` deletes. Null clears all.",
                    "properties": {
                      "set": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "remove": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "maxRequestBodyMb": {
                    "type": "integer",
                    "nullable": true,
                    "minimum": 1,
                    "maximum": 10240,
                    "description": "Max request body size (MB). Null = unlimited (default)."
                  },
                  "responseCompression": {
                    "type": "boolean",
                    "description": "Edge gzip/zstd compression. Default false (domains behind a CDN are already compressed there)."
                  },
                  "ipAllowList": {
                    "type": "array",
                    "nullable": true,
                    "maxItems": 50,
                    "items": {
                      "type": "string"
                    },
                    "description": "Visitor IP/CIDR allow-list (v4+v6). Non-empty ⇒ only these reach the app. Null/empty = open."
                  },
                  "ipDenyList": {
                    "type": "array",
                    "nullable": true,
                    "maxItems": 50,
                    "items": {
                      "type": "string"
                    },
                    "description": "Visitor IP/CIDR deny-list (v4+v6) → 403. Null/empty = none."
                  },
                  "basicAuthUser": {
                    "type": "string",
                    "nullable": true,
                    "description": "HTTP Basic Auth username. Null/empty clears Basic Auth. Setting it requires basicAuthPassword."
                  },
                  "basicAuthPassword": {
                    "type": "string",
                    "writeOnly": true,
                    "description": "Plaintext Basic Auth password — bcrypt-hashed server-side, never stored or returned. Required when setting basicAuthUser."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "summary": "Detach a custom domain",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mappingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detached"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/{cubeId}/tcp-mappings": {
      "get": {
        "summary": "List TCP port forwards for a Cube",
        "tags": [
          "TCP mappings"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TCP mapping list"
          }
        }
      },
      "post": {
        "summary": "Create a TCP port forward",
        "tags": [
          "TCP mappings"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional unique key (max 255 chars). Replays return the original response and add header Idempotency-Replayed: true. Scoped per space; expires after 24h.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cubePort"
                ],
                "properties": {
                  "cubePort": {
                    "type": "integer"
                  },
                  "whitelistIps": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mapping created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/{cubeId}/tcp-mappings/{mappingId}": {
      "delete": {
        "summary": "Delete a TCP port forward",
        "tags": [
          "TCP mappings"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mappingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/{cubeId}/snapshots": {
      "get": {
        "summary": "List snapshots for a Cube",
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot list"
          }
        }
      },
      "post": {
        "summary": "Create a snapshot",
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional unique key (max 255 chars). Replays return the original response and add header Idempotency-Replayed: true. Scoped per space; expires after 24h.",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Snapshot enqueued"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/{cubeId}/snapshots/{snapshotId}": {
      "delete": {
        "summary": "Delete a snapshot",
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/{cubeId}/restore": {
      "post": {
        "summary": "Restore a Cube from a snapshot",
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cubeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "snapshotId"
                ],
                "properties": {
                  "snapshotId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Restore enqueued"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/spaces/{spaceId}/backups/{backupId}/download": {
      "get": {
        "summary": "Generate a presigned download URL for a backup .cube archive",
        "tags": [
          "Backups"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "backupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Presigned URL valid for 15 minutes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "filename": {
                      "type": "string"
                    },
                    "sizeBytes": {
                      "type": "integer",
                      "nullable": true
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Backup is not in 'complete' status"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/imports": {
      "post": {
        "summary": "Initiate a .cube archive import (browser-side multipart upload)",
        "tags": [
          "Imports"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "fileSizeBytes"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "fileSizeBytes": {
                    "type": "integer",
                    "minimum": 1048576
                  },
                  "sshKeyMode": {
                    "type": "string",
                    "enum": [
                      "replace",
                      "keep"
                    ],
                    "default": "replace"
                  },
                  "sshPublicKey": {
                    "type": "string",
                    "nullable": true
                  },
                  "region": {
                    "type": "string",
                    "nullable": true
                  },
                  "vcpusOverride": {
                    "type": "integer",
                    "nullable": true
                  },
                  "ramMbOverride": {
                    "type": "integer",
                    "nullable": true
                  },
                  "diskGbOverride": {
                    "type": "integer",
                    "nullable": true
                  },
                  "userData": {
                    "type": "string",
                    "nullable": true
                  },
                  "expectedConfig": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "vcpus": {
                        "type": "integer"
                      },
                      "ramMb": {
                        "type": "integer"
                      },
                      "diskLimitGb": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Import initiated; returns presigned part URLs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "importId": {
                      "type": "string"
                    },
                    "uploadId": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "chunkSizeBytes": {
                      "type": "integer"
                    },
                    "parts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "partNumber": {
                            "type": "integer"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "403": {
            "description": "Plan limit exceeded"
          },
          "503": {
            "description": "No active storage backend"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/imports/{importId}": {
      "get": {
        "summary": "Get the current state of an import",
        "tags": [
          "Imports"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current import state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "import": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "uploading",
                            "finalizing",
                            "provisioning",
                            "complete",
                            "failed",
                            "expired"
                          ]
                        },
                        "cubeId": {
                          "type": "string",
                          "nullable": true
                        },
                        "error": {
                          "type": "string",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "completedAt": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Cancel an in-flight upload (only allowed in 'uploading' state)",
        "tags": [
          "Imports"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Cannot cancel an import past the 'uploading' state"
          }
        }
      }
    },
    "/spaces/{spaceId}/cubes/imports/{importId}/complete": {
      "post": {
        "summary": "Finalize a .cube import: complete multipart upload + create cube row + enqueue provisioning",
        "tags": [
          "Imports"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "parts",
                  "config"
                ],
                "properties": {
                  "parts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "partNumber",
                        "etag"
                      ],
                      "properties": {
                        "partNumber": {
                          "type": "integer"
                        },
                        "etag": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "config": {
                    "type": "object",
                    "required": [
                      "vcpus",
                      "ramMb",
                      "diskLimitGb",
                      "imageId"
                    ],
                    "properties": {
                      "vcpus": {
                        "type": "integer"
                      },
                      "ramMb": {
                        "type": "integer"
                      },
                      "diskLimitGb": {
                        "type": "integer"
                      },
                      "imageId": {
                        "type": "string"
                      },
                      "userData": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provisioning enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "importId": {
                      "type": "string"
                    },
                    "cubeId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "provisioning"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "403": {
            "description": "Plan limit exceeded"
          },
          "409": {
            "description": "Import not in 'uploading' state"
          },
          "502": {
            "description": "S3 finalization failed"
          },
          "503": {
            "description": "Storage backend unavailable"
          }
        }
      }
    },
    "/spaces/{spaceId}/webhooks": {
      "get": {
        "summary": "List webhook endpoints",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook list"
          }
        }
      },
      "post": {
        "summary": "Create a webhook endpoint (signing secret returned once)",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "events"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "cube.running",
                        "cube.sleeping",
                        "cube.error",
                        "cube.deleted"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created (response includes secret)"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/spaces/{spaceId}/webhooks/{endpointId}": {
      "get": {
        "summary": "Get a webhook (no secret)",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook"
          }
        }
      },
      "delete": {
        "summary": "Delete a webhook (cascades deliveries)",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/spaces/{spaceId}/webhooks/{endpointId}/deliveries": {
      "get": {
        "summary": "Last 30 days of webhook delivery history (max 100)",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery list"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Public",
      "description": "No authentication required"
    },
    {
      "name": "Cubes",
      "description": "Create, list, manage Cubes"
    },
    {
      "name": "Domains"
    },
    {
      "name": "TCP mappings"
    },
    {
      "name": "Snapshots"
    },
    {
      "name": "Backups",
      "description": "Portable .cube archives — download an existing backup as a single file"
    },
    {
      "name": "Imports",
      "description": "Customer-uploaded .cube archives — browser-direct multipart upload to S3, then provisioning"
    },
    {
      "name": "Webhooks",
      "description": "Outbound HTTP callbacks for Cube events"
    }
  ]
}
